<section class="ba-section ba-section--form">
	<!-- BEGIN container  -->
	<div class="container">
		<div class="row">
			<div class="ba-cool col-xs-12 col-sm-6">
				<p>
					YOU THINK WE'RE COOL ? LET'S WORK TOGETHER
				</p>
				<a href="#" class="btn btn-primary">Get in touch</a>

			</div>

			<div class="col-xs-12 col-sm-6">

				<form>
				  <div class="form-group">
				    <label for="exampleInputEmail1">stay informed with our <br>newsletter</label>
				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				    <div class="row">
				    	<div class="row__input">
				    		<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Your email">
				    	</div>
				    	<div class="row__button">
				    		<button type="submit" class="btn btn-default">SEND</button>
				    	</div>
				    </div>


				  </div>

				</form>
			</div>
		</div>
	</div>
	<!-- END container -->


</section>


