<section class="ba-subscribe ba-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="ba-col-to-action">
					<h3>
						YOU THINK WE'RE COOL ? LET'S WORK TOGETHER
					</h3>
					<a href="#" class="btn btn--light">Get in touch</a>
				</div>

			</div>
			<div class="col-md-6">
				<form action="post" class="ba-subscribe-form">
					<h3>stay informed with our newsletter</h3>
				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				    <div class="ba-subscribe-form__inputs">
				    	<input class="form-control" type="email" name="email" placeholder="your email" required>
				    	<button class="btn" type="submit">send</button>
				    </div>

				</form>

			</div>
		</div>
	</div>

</section>
