<footer class="ba-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-lg-8">
				<nav>
					<ul class="nav navbar-nav ba-footer-menu">
					  <li><a href="index.html">Home</a></li>
					  <li><a href="about.html">About</a></li>
			<!-- 		  <li><a href="services.html">Services</a></li> -->
					  <li><a href="blog.html">Blog</a></li>
					  <li><a href="contact.html">Contact Us</a></li>

					</ul>
				</nav>
			</div>
			<div class="col-md-5 col-lg-4">
				<p>Created by akhouad 2016. All Rights Reserved</p>
				<div class="ba-socails">
					<a href="#">
						<i class="ion-social-facebook"></i>
					</a>

					<a href="#">
						<i class="ion-social-twitter"></i>
					</a>
					<a href="#">
						<i class="ion-social-youtube"></i>
					</a>
					<a href="#">
						<i class="ion-social-linkedin"></i>
					</a>
					<a href="#">
						<i class="ion-social-pinterest"></i>
					</a>
					<a href="#">
						<i class="ion-social-instagram"></i>
					</a>
				</div>
			</div>

		</div>

	</div>
</footer>
